<footer class="container text-center mt-5">
	<div>
		<a href="https://www.facebook.com"><img src="{{asset('assets/img/facebook.png')}}" width="50" height="50" style="margin-right:60px"></a>
		<a href="https://www.linkedin.com/in/jean-christophe-gomis-41665616b/"><img src="{{asset('assets/img/linkedin.png')}}" width="50" height="50" style="margin-right:60px"></a>
		<a href="https://www.instagram.com/?hl=fr"><img src="{{asset('assets/img/instagram.png')}}" width="50" height="50"></a>
		<a href="https://github.com/christophegomis89"><img src="{{asset('assets/img/github-logo.png')}}" width="50" height="50" style="margin-left:60px"></a><br>
	</div>
	<br>
	<p class="text-muted">
		<small>
			&copy;{{ 'now'|date('Y') }}
			&middot;
						        Créer avec
			<span class="text-danger">&hearts;</span>par
			<a href="http://gsportnews.fr">Jean Christophe Gomis</a>
		</small>
	</p>

</footer>
